[submodule "drag-stuff"]
	path = drag-stuff
	url = git@github.com:rejeep/drag-stuff.el.git
[submodule "gruber-darker-theme"]
	path = gruber-darker-theme
	url = git@github.com:rexim/gruber-darker-theme.git
